
.COFFEE {
    font-family: Roboto;
    font-size: 2.5rem;
    font-weight: 300;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: 2.8px;
    text-align: left;
    color: #000000;
    color: var(--black);
  }
  .We-work-with-specialty-coffee-from-current-crops-which-is-caref {
    font-family: Roboto;
    font-size: 1.25rem;
    font-weight: 300;
    font-style: normal;
    font-stretch: condensed;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    color: var(--black);
  }

  .You-can-currently-buy-these-beans-in-350-g-bags {
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 300;
    font-style: normal;
    font-stretch: condensed;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    color: var(--black);
  }

  .coffees .card-header{
        font-family: Roboto;
        font-size: 1.75rem;
        font-weight: 300;
        font-style: normal;
        font-stretch: condensed;
        line-height: normal;
        letter-spacing: 2px;
        text-align: left;
        color: #000000;
        color: var(--black);
      }

      .coffees p{
        font-family: Roboto;
        font-size: 1rem;
        font-weight: 300;
        font-style: italic;
        font-stretch: condensed;
        line-height: 2.25;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        color: var(--black);
      }
      .coffees h4{
      font-family: Roboto;
      font-size: 1rem;
      font-weight: 300;
      font-style: normal;
      font-stretch: condensed;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: left;
      color: #000000;
      color: var(--black);
    }
